
body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

.background {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 
.progress {
    background-color: rgba(39,53,92,255);
}

.main-container {
    display: flex;
    margin: 100px;
}

.left-container {
    height: 65vh;
    width: 190px;
    background-color: rgba(39,53,92,255);
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-top-left-radius: 14px;
border-bottom-left-radius: 14px;    
}

.right-container {
    height: 65vh;
    width: 70%;
    background-color: rgb(211, 227, 255);
    display: flex;
    
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.menu-container {
    height: 260px;
display: flex;
justify-content: space-between;
flex-direction: column;
margin-bottom: 132px;
}

.menu-container a {
    color: rgba(158,168,197,255);
    font-size: 32px;
    text-decoration: none;
}

.logo {
    height: 80px;
    width: 100px;
    margin-top: 20px;
}
